
<nav class="mynavbar navbar navbar-expand-lg">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">Flatme</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mycollapse collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews">our streets</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/writereview">write a review</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/profile">profile</a>
        </li>

        <div class="btnnav">
          <button><a href="/logout">Log out</a></button>
        </div>

      </ul>

    </div>

  </div>
</nav>