<nav>
  <a href="/">home</a>
  <a href="/about">about</a>
  <a href="/reviews">our streets</a>
  <a href="/writereview">write a review</a>
  <a href="/profile">profile</a>
  <button><a href="/login">Log out</a></button>
</nav>