
<nav class="mynavbar navbar navbar-expand-lg navbar-light">

  <div class="container-fluid">
    
    <a class="brand navbar-brand" href="/"><img src="images/flatmelogo.png" alt="logo" class="logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mycollapse collapse navbar-collapse text-black" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews">View reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/writereview">Write a review</a>
        </li>
      </ul>


      <a href="/profile" class="userlogo"><i class="fas fa-user"></i></a>
   

    </div><!--end collapse navbar-->

  </div> <!--end container fluid-->
</nav>