{{> mainpartial}}


<div class="container">

    <h1 class="mb-5 mt-5 text-center title">About us</h1>

  <div class="section">
    <p class="mytext mb-4">Hi! We are Sofia & Marta, two passionate FullStack Developers, with the willing to create something that will help others. This project borns to cover a need we both had during our years abroad, where we moved to cities and countries we did not know before. During that experience we realized it was not easy to find a realiable source of information to understand the pros and cons of certain areas.
    <br>
    <br>
    flatme is a platform that allow users to write street and district reviews, with the goal to create a community that support each other providing relevant information about different areas and cities.
    <br>
    <br> 
    Would you like to help us grow up?</p>
    <div class="container text-center">
      <a href="/signup" class="joinbtn">Join now</a>
    </div>
    
  </div>

  <div class="section">
    <h3 class="text-center m-4 title">Why joining flatme?</h3>
    <div class="why-section">
      <div class="why-card text-center">
        <img src="/images/community.png" alt="" class="why-logo">
        <br>
        <h6>Join a community</h6>
      </div>
      <div class="why-card text-center">
        <img src="/images/reliable.png" alt="" class="why-logo">
        <br>
        <h6>Reliable reviews</h6>
      </div>
      <div class="why-card text-center">
        <img src="/images/secure.png" alt="" class="why-logo">
        <br>
        <h6>We don't sell your data</h6>
      </div>
    </div>

  </div>

  <div class="section text-center">
    <h3 class="title">Meet the team</h3>

    <div class="team">

      <div class="team-card">
        <img src="images/sofia.png" class="team-img mb-4" alt="Sofia Urbano">
        
        <div class="contact">
          <a href="https://github.com/SofSanUrb"><i class="fab fa-github fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/sof%C3%ADa-s%C3%A1nchez-urbano-76953b64/"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
        <h4 class="mb-4 mt-4">Sofia Urbano</h4>
        <p>Who doesn't love a good puzzle? That's how I feel about coding!
          I'm a developer and a building architect, specialized in Web Development, BIM Management and committed to ambitious projects with new challenges.
          My journey into programming began learning about the Revit API and Web Development, and from the first 'Hello World', I was hooked.
        </p>
      </div>
      
      <div class="team-card">
        <img src="images/martasnow.png" class="team-img mb-4" alt="Marta Gilabert">
        <div class="contact">
          <a href="https://github.com/marta8919"><i class="fab fa-github fa-lg"></i></a>
          <a href="www.linkedin.com/in/martagilabertgu"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
        <h4 class="mb-4 mt-4">Marta Gilabert</h4>
        <p>To live is to learn, that's my motto. I've always loved to learn new skills and to put myself out of the comfort zone, trying to solve problems in the most creative way. Few years ago I opened for the first time freecodecamp.org, at got so impressed by how big and unknown to me this world was. Since then, I have not stopped learning.</p>

      </div>
      
    </div>

</div>


