{{> mainpartial}}

<h1>about us</h1>

<div class="section">
  <h2>Why flatme?</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sint ab rerum ducimus atque cupiditate necessitatibus sequi nihil consequatur libero commodi voluptatem assumenda alias, quas quo cumque dicta aperiam pariatur?</p>
  <button><a href="/signup">Join now</a></button>
</div>

<div class="section">
  <h3>We are an ethical company</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum possimus praesentium placeat quis et laudantium, cumque deserunt? Quas laudantium unde rem itaque eaque architecto perspiciatis voluptas, nulla, excepturi sint dolores.</p>
</div>

<div>
  <h3>Who we are?</h3>
  <div>
    <div class="Sofia">
      <h4>Sofia</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis recusandae praesentium soluta, labore fuga error numquam consequuntur. Quis dolor, mollitia pariatur in culpa quae itaque repellendus veritatis dolorum architecto hic.</p>
    </div>
    <div class="Marta">
      <h4>Marta</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id dicta velit natus soluta ut voluptate eos officiis reiciendis aperiam, architecto repudiandae. Nam id voluptas quam atque dolores officia error dolor.</p>
    </div>
  </div>
</div>


