{{> mainpartial}}


<div class="container">

    <h1 class="mb-5 mt-5 text-center">About us</h1>

  <div class="section text-center">
    <h2 class="mb-3">Why flatme?</h2>
    <p class="mytext mb-4">Flatme borns from the need to offer a solution to people that is moving to an area they don't know, or to a new city or country. Both founders have experienced living abroad and moving to new places without really knowing the area, so they had the idea to create this platform, with the hope that it could be a reference place to help others.<br><br> Would you like to help us grow up?</p>
    <a href="/signup" class="joinbtn">Join now</a>
  </div>

  <div class="section text-center">
    <h3>We are an ethical company</h3>
    <p>At flatme we are proud to say that we are an ethical company, making sure we respect both the laws and what we and our users understand, are the limits of ethics.</p>
  </div>

  <div class="section text-center">
    <h3>Who are we?</h3>

    <div class="team">

      <div class="card m-3" style="max-width: 400px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="images/sofia.png" alt="Sofia" class="img">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Sofia Urbano</h5>
              <p>Former architect passionate about both frontend and backend. Lived in Germanz for over four years, currently living in her home country, Spain.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-3" style="max-width: 400px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="images/martasnow.png" alt="Marta" class="img">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Marta Gilabert</h5>
              <p>Ex-Tech Recruiter, passionate about frontend, yoga, books and cats. Borned in Barcelona,Spain, and currently living in Munich, Germany</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


