{{> mainpartial}}


<div class="container">

    <h1 class="mb-5 mt-5 text-center">About us</h1>

  <div class="section">
    <p class="mytext mb-4">Hi! We are Sofia & Marta, two passionate FullStack Developers, with the willing to create something that will help others. This project borns to cover a need we both had during our years abroad, where we moved to cities and countries we did not know before. During that experience we realized it was not easy to find a realiable source of information to understand the pros and cons of certain areas.
    <br>
    <br>
    flatme is a platform that allow users to write street and district reviews, with the goal to create a community that support each other providing relevant information about different areas and cities.
    <br>
    <br> 
    Would you like to help us grow up?</p>
    <div class="container text-center">
      <a href="/signup" class="joinbtn">Join now</a>
    </div>
    
  </div>

  <div class="section">
    <h3 class="text-center m-4">Why joining flatme?</h3>
    <div class="why-section">
      <div class="why-card text-center">
        <img src="/images/community.png" alt="" class="why-logo">
        <br>
        <h6>Join a community</h6>
      </div>
      <div class="why-card text-center">
        <img src="/images/reliable.png" alt="" class="why-logo">
        <br>
        <h6>Reliable reviews</h6>
      </div>
      <div class="why-card text-center">
        <img src="/images/secure.png" alt="" class="why-logo">
        <br>
        <h6>We don't sell your data</h6>
      </div>
    </div>

  </div>

  <div class="section text-center">
    <h3>Meet the team</h3>

    <div class="team">

      <div class="team-card">
        <img src="images/sofia.png" class="team-img" alt="Sofia Urbano">
        <h4>Sofia Urbano</h4>
        <p>Former Architect passionate about clear code.</p>
      </div>
      
      <div class="team-card">
        <img src="images/martasnow.png" class="team-img" alt="Marta Gilabert">
        <h4>Marta Gilabert</h4>
        <p>Formes Tech Recruiter, passionate about frontend.</p>
      </div>
      
    </div>


    {{!-- <div class="team container-fluid">

      <div class="card m-3" style="max-width: 400px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="images/sofia.png" alt="Sofia" class="img">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Sofia Urbano</h5>
              <p>Former architect passionate about both frontend and backend. Lived in Germanz for over four years, currently living in her home country, Spain.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-3" style="max-width: 400px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="images/martasnow.png" alt="Marta" class="img">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Marta Gilabert</h5>
              <p>Ex-Tech Recruiter, passionate about frontend, yoga, books and cats. Borned in Barcelona,Spain, and currently living in Munich, Germany</p>
            </div>
          </div>
        </div>
      </div>

    </div> --}}

  {{!-- </div> --}}

</div>


