<div class="container text-center">
  <div class="section">
    <h1 class="mb-4">Error!</h1>
    <h2>There was an error on the server! We appologise, our developers are junior and don't get paid so.....🥲</h2>
  </div>
</div>

