
<div class="myhero container-fluid">
  <h3 class="mt-5 header">The largest community providing reviews of streets and districts.</h3>
  <h3 class="mt-3 header">We help you find the best area in the city for you!</h3>

  <div class="joinbtn-div">
    <a href="/signup" class="joinbtn">Join now, it's free!</a>
  </div>
  
</div>