<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <meta name="google-signin-client_id" content="136668872566-suma2arehmhvb8ehtt65v8queg50jggk.apps.googleusercontent.com">
      <title>{{title}}</title>
      {{!-- Bootstrap stylesheet --}}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      {{!-- Leaflet stylesheet --}}
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
      {{!-- Individual stylesheet --}}
      <link rel="stylesheet" href="/stylesheets/style.css" />
        <link
         rel="stylesheet"
         href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
         integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
         crossorigin="anonymous"/>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
      <link rel="icon" type="image/png" href="/images/location.png">
   </head>

   <body>

      {{{body}}}


      <footer class="container">
         <p>© 2021 created by <a href="https://github.com/SofSanUrb">Sofia</a> & <a href="http://martagg.com">Marta</a>
         <br>
         Powered by 🐺 House Stark</p>
         
      </footer>

{{!-- sign in with google --}}
      <script>
         
         /*function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/login');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
               signOut();
               location.assign('/profile')
            }
            };
            xhr.send(JSON.stringify({token: id_token}));
         } 

      function signOut() {
         var auth2 = gapi.auth2.getAuthInstance();
         auth2.signOut().then(function () {
            console.log('User signed out.');
         });
      }*/
      </script>

      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <!-- Bootstrap script -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
      <!-- Leaflet script -->
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
      <!-- Individual script -->
      <script type="module" src="/js/script.js"></script>

   </body>

</html>