{{> mainpartial}}

<h1>Log in</h1>

<div class="container">
  <form action="/login" method="POST">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" id="email" placeholder="Email">

    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
</div>

{{#if msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{msg}}
</div>
{{/if}}