{{> mainpartial}}



<div class="container">

  <h1 class="mb-5 mt-5 text-center">Log in</h1>

  <div class="section">

    <form action="/login" method="POST" class="row g-3 text-center mt-3">
      <div class="col-12">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" id="email" placeholder="Email">
      </div>

      <div class="col-12">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
      </div>

    <div class="col-12">
      <button type="submit" class="mybtn btn btn-primary mt-3">Log in</button>
    </div>

    </form>

  </div>
  <br>
</div>

{{#if msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{msg}}
</div>
{{/if}}