{{> mainpartial}}



<div class="container">

  

  <div class="section">

    <form action="/login" method="POST" class="row g-3 mt-3">
      <div class="col-md-6">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" id="email" placeholder="Email" class="form-control">
      </div>

      <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" class="form-control">
      </div>

    <div class="col-12 text-center">
      <button type="submit" class="mybtn btn btn-primary m-3">Log in</button>
      <a href="/signup">Create an account</a>
      {{!-- <span class="g-signin2" data-onsuccess="onSignIn"></span>
      <a href="/logout" onclick="signOut();">Log out</a> --}}
    </div>

    </form>

  </div>
  <br>
</div>



{{#if msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{msg}}
</div>
{{/if}}