{{> mainpartial}}

<div>
  <form action="">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit">Submit</button>
  </form>
</div>