<div class="subtitle">
  <h1>Do you want to create an account?</h1>
  <span>Joining flatme will give you access to our reviews and 
    will allow you to participate within out community</span>
</div>

<form>
  
</form>