<div class="container">

  <div class="section">

    <div class="subtitle">
      <h1>Hey {{user.0.name}}! here you can update your profile</h1>
    </div>

      <form method="POST" action="/profile/edit" class="row g-3" enctype="multipart/form-data" >
  
      <div class="col-12">
        <label for="password" class="form-label">Password *</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="{{profileBody.password}}">
        <div id="passwordHelpBlock" class="form-text">
          Your password must be 8-20 characters long, contain at least 1 uppercase and 1 lowercase character, 1 special character and 1 number, and must not contain spaces, or emoji.
        </div>
      </div>

      <div class="col-12">
        <label for="password2" class="form-label">Repeat Password *</label>
        <input type="password" name="password2" class="form-control" id="password2" placeholder="Password">
      </div>
      
      <div class="col-12 text-center">
        <button type="submit" class="mybtn btn btn-primary">Save Changes</button>
      </div>
      </form>
  </div>

</div>

{{#if msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{msg}}
</div>
{{/if}}