{{> userpartial}}

<h1>Hello {{name}}, welcome to your profile</h1>

<div class="container">
  <h6>Name :</h6>
  <h6>Last Name :</h6>
  <h6>Email : </h6>
  <h6>City : </h6>

  <a href="/edit">Edit</a>
</div>

<div class="container">
  <h2>Your reviews</h2>

  <a href="">Edit</a>
  <a href="">Delete</a>
  <h3>Great area</h3>
  <p>Spain, Barcelona, Gracia, Carrer Verdi</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquam sint nulla, dolores tempora labore provident ad officiis veritatis, facere cupiditate natus adipisci consectetur totam excepturi minus similique molestiae iusto?</p>

</div>