<div class="container">

  <div class="section">

      <form method="POST" action="/profile/edit-picture" class="editpictureForm" enctype="multipart/form-data" >
        <img class='selectimage' src="/images/selectpicture.png" alt="select picture">
        <input type="file" name="picture" accept="image/jpg, image/png">
        <div class="col-12 savepicture">
          <button class="mybtn btnsmall text-white" formaction="/profile/cancelEdit">Cancel</button>
          <button type="submit" class="mybtn btn btn-primary">Save</button>
        </div>
      </form>
  </div>

</div>

{{#if msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole! 🥑</strong> {{msg}}
</div>
{{/if}}