<div class="container">

  <div class="section">

      <form method="POST" action="/profile/edit-picture" class="row g-3 text-center" enctype="multipart/form-data" >
     
      <input type="file" name="picture" accept="image/jpg, image/png">

      <div class="col-12 text-center">
        <button type="submit" class="mybtn btn btn-primary">Save</button>
        {{!-- <button class="mybtn text-white">Cancel</button> --}}
      </div>
      </form>

  </div>

</div>

{{#if msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole! 🥑</strong> {{msg}}
</div>
{{/if}}