{{> userpartial}}

<div class="container">
  <div class="section">
  <form method="POST" action="/writereview" class="row g-3">
    <div class="col-md-6">
        <label for="city" class="form-label">City</label>
        <input type="text" name="city" id="city" class="form-control">
    </div>

    <div class="col-md-6">
      <label for="address" class="form-label">Address</label>
      <input type="text" name="address" id="address" class="form-control">
    </div>

      <div class="col-12">
        <label for="review" class="form-label">Your review</label>
        <input type="text" name="review" id="review" class="form-control">
      </div>

      <div class="col-md-6">
        <label for="score" class="form-label">Score out of 5</label> 
        <select id="score" name="score" class="form-select" aria-label=".form-select-sm example">
          <option selected></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="tags" class="form-label">Select a label</label> 
        <select id="tags" name="tags" class="form-select" aria-label=".form-select-sm example">
          <option selected></option>
            <option value="Family">Family</option>
            <option value="Gay-friendly">Gay-friendly</option>
            <option value="Students">Students</option>
        </select>
      </div>
        
      <div class="col-12 text-center">
        <button type="submit" class="mybtn btn btn-primary">Submit</button>
      </div>
      </form>
      <br>
    </div>

  </div>

</div>

{{#if msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{msg}}
</div>
{{/if}}