{{> userpartial}}

<h1>Write a review</h1>

<div class="container">
  <form action="">
    <label for="country" class="form-label">Country</label>
    <input type="text" name="country" id="country">

    <label for="city" class="form-label">City</label>
    <input type="text" name="city" id="city">

    <label for="district" class="form-label">District</label>
    <input type="text" name="district" id="district">

    <label for="street" class="form-label">Street</label>
    <input type="text" name="street" id="street">

    <label for="review" class="form-label">Your review</label>
    <input type="text" name="review" id="review">

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
</div>