{{> userpartial}}

<h1>Write a review</h1>

<div class="container">
  <form method="POST" action="/writereview">
    <label for="city" class="form-label">City</label>
    <input type="text" name="city" id="city">

    <label for="address" class="form-label">ddress</label>
    <input type="text" name="address" id="address">

    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" id="title">

    <label for="review" class="form-label">Your review</label>
    <input type="text" name="review" id="review">

    <label for="score" class="form-label">Score out of 5</label> 
    <select id="score" name="score" class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <label for="tags" class="form-label">Select a label</label> 
    <select id="tags" name="tags" class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected></option>
        <option value="Family">Family</option>
        <option value="Gay-friendly">Gay-friendly</option>
        <option value="Students">Students</option>
    </select>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
</div>

{{#if msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{msg}}
</div>
{{/if}}