:root {
  --orange : #F18F01;
  --blue : #048ba8;
  --darkblue: #020122;
  --light-grey: #f1f2f6;
  --white: #fbfbff;
}

*{
  margin: 0;
  font-family: sans-serif;
}

img{
  width: 150px;
  height: 60px;
}

.mynavbar {
  background: white;

}

footer {
  text-align: center;
}

.myhero {
  background-image: url(../images/door.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}

button{
  border-radius: 5px;
  border: none;
}