@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


:root {
  --orange : #E68244;
  --blue : #210A72;
  --darkblue: #020122;
  --light-grey: #f1f2f6;
  --white: #fbfbff;
  --lightOrange: #ffd9b5;
  --lightblue: #fafbff;
}

*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.header{
  background-color: rgba(255, 255, 255, 0.74);
  padding: 5px;
  color: var(--blue);
}

.flatme-title{
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
  text-decoration-color: var(--orange);
  text-decoration-thickness: 5px;
}

.index-logo{
  margin-bottom: 16px;
  padding-top: 5px;
  margin-right: 10px;
}

#mainLogo {
 width: 110px;
 height: auto;
 margin: auto auto 10px 10px;
}

footer {
  text-align: center;
  margin: 15px;
}

.my-link{
  color: black;
  margin: 30px 30px 30px 0;
}

.my-link:hover{
  text-decoration: overline;
  text-decoration-color: var(--orange);
  text-decoration-thickness: 5px;
  color: #210A72;
  transition: 0.90s;
}

.mycollapse {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}

.user-icon-link{
  margin-right: 20px;
}

.myhero {
  background-image: url(https://res.cloudinary.com/dfpleoyv6/image/upload/v1613666286/background_dvkxhf.jpg);
  background-size: cover;
  width: 100%;
  height: 85vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
}

a{
  text-decoration: none;
}

nav{
  background-color: var(--light-grey);
}

.btnnav > a{
  background-color: var(--blue);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.btnnav > a:hover{
  background-color: var(--orange);
}

.joinbtn{
  background-color: var(--blue);
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.joinbtn:hover{
  background-color: var(--orange);
  color: white;
}

.joinbtn-div {
  margin: 40px;
}

.mybtn {
  background-color: var(--blue);
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.mybtn:hover{
  background-color: var(--orange);
  color: white;
}

.mybtn > a {
  color: white;
}

.section {
  background-color: var(--light-grey);
  margin: 15px 0px;
  padding: 40px;
  border-radius: 10px;
}

.userSection{
  display: flex;
}

.team {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.team-img{
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 100%;
  margin: 10px;
}

.team-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px;
}

.team-card > p {
  text-align: justify;
}

.myinfo{
  display: flex;
  justify-content: space-between;
} 

.myinfo span{
  display:flex;
  align-items: baseline;
}

.myinfo h6{
  margin-left: 15px;
}

.controlbtn{
  display: flex;
}

.icon-btn{
  margin-right: 10px;
}

.mytext{
  text-align: justify;
}

.draftStatus{
  color: var(--blue);
  background-color: var(--lightOrange);
  padding: 2px;
}

i {
  color: var(--blue);
}

a i:hover {
  color: var(--orange);
}

.myfa{
  color: var(--orange);
}

.title {
  color: var(--blue);
}

.why-section{
  display: flex;
  align-items: baseline;
}

.why-logo{
  width: 70px;
  height: auto;
}

.why-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 10px;
  margin: 10px;
}

#map {
  height: 400px;
}

.accordion-button:not(.collapsed) {
  background-color: var(--lightblue);
  color:var(--blue)
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--lightOrange);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--lightOrange);
}

.draftcomment {
  margin-bottom: 10px;
  padding-bottom: 15px;
  padding-top: 5px;
  background-color: white;
  border-radius: 5px;
}
.contact > a {
  margin: 10px;
}

.userpicture {
  width: 200px;
  height:200px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
}

.userInfo{
  display: inline-flex;
  margin-bottom: 15px;
  align-items: center;
}

.userInfo span {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 15px;
}
.userInfo span > h3{
  margin-right: 6px;
}

.usersmall {
  width: 100px;
  height:100px;
}

.review{
  font-style: oblique;
}

.mytoggle{
  border: none;
  margin-right: 5px;
}

.mytoggle:focus {
  z-index: 3;
  border-color: var(--lightOrange);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--lightOrange);
}

.viewAll{
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  justify-content: space-between;
  align-items: center;
}

.single-review {
  max-width: 640px;
  max-height: 500px;
  min-height: 500px;
  overflow: auto;
}

.inner-card{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.secondary-card{
  display: flex;
  justify-content: space-between;
}


.date {
  color: grey;
  font-size: 0.8em;
}
/* MEDIA QUERIES */

.selectimage{
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.errorimg {
  margin-top: 15px;
}

.editpictureForm {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.editpictureForm input {
  margin-bottom: 30px;
  background-color: var(--lightblue);
  max-width: 100%;
}

.savepicture {
  display:flex;
  align-items: baseline;
  justify-content: center;
}

.btnsmall {
  margin-right: 15px;
  background-color: var(--lightOrange);
}


/* less than half computer screen */
@media (max-width: 1400px){
  .single-review{
    max-width: 1400px;
  }

  .profile-image{
    display: flex;
    flex-direction: column;
  }

}

/* Phones landscape */
@media (max-width: 991px){

  .selectimage{
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  .mycollapse{
    flex-direction: column;
    align-items: initial;
  }

  .my-link{
    font-size: 1.3rem;
  }

  .my-link:hover{
    text-decoration: none;
    color: #210A72;
  }

  .nav-item {
    margin: 20px 0 0 20px;
  }

  .userSection{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-icon-link{
    margin: 20px 0 0 20px ;
  }

  .team {
    flex-direction: column;
    align-items: center;
  }

  .single-review{
    max-height: fit-content;
  }

  .controlbtn{
    flex-direction: row;
  }
}

/* Phones portrait */
@media (max-width: 850px){
  .selectimage{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  /* .editpictureForm input {
    overflow: scroll;
  } */
  .team{
    flex-direction: column;
  }

  .why-section{
    flex-direction: column;
    align-items: center;
  }

  .myinfo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info{
    margin-bottom: 20px;
    overflow: scroll;
  }

  .section{
    margin: 10px;
  }

  .mytext{
    text-align: center;
  }

  .team-card > p {
    text-align: center;
  }

  .secondary-card{
    flex-direction: column;
  }

  .inner-card{
    flex-direction: column;
  }

}


